nav {
    margin-top: 10px;
}

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    flex-grow: 1;
}
.navigation-menu {
    /* margin-left: auto; */
    display: flex;
    justify-content: end;
    flex-grow: 2;


}

.nav-logo {

    display: flex;
    margin-left: 125px;
    justify-content: center;
}




.navigation-menu ul {
    display: flex;
    padding: 0;
    margin-top: 10px;
    justify-content:flex-end;
}

.navigation-menu li {
    list-style-type: none;
    margin-right: 75px;
    margin-top: 10px;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items:center; */
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #263141;


}


.logo {
    font-family: 'Qahiri';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #E53231;
    border: 0.5px solid #E63230
}