.flex-container {
    display: flex;
    justify-content: space-evenly;

}

.flex {
    display: flex;
    justify-content: center;
}

.flex-clm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 20px;


}

.column-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mt-10 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 50px;
}

.mt-50 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 300px;
}

.mb-50 {
    margin-bottom: 100px;
}

.mb-75 {
    margin-bottom: 150px;
}

.mb-125 {
    margin-bottom: 250px;
}

.mb-10 {
    margin-bottom: 20px;
}

.mb-20 {
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.images {
    display: flex;
}

.title {

    width: 560px;
    height: 240px;
}

.title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 84px;
    color: #080808;
}

.description {
    width: 580px;
    height: 162px;
}

.description p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 42px;
    color: #747171;
}

.screen2 {
    position: relative;
    margin-top: 50px;
    margin-left: -160px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 500px;

}

.start-btn {
    background: #050504;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

}

.text-white {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
    color: #FFFFFF;
}

.text-dark {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
    color: #292929;
}

.book-btn {
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
}

.logos {
    margin-top: 200px;
    margin-right: 100px;
}

.works-with {
    margin-top: 20px;
    margin-right: 75px;
    width: 50px;
    height: 50px;
}

.red-section {
    background: #E63230;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page9-height {
    height: 692px;
}

.heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.info {
    width: 945px;
    height: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info a {
    text-decoration: none;

}

.info a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;

}

.page9-text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.red-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.red {
    background: #E63230;
}

.red-screen2 {
    width: 150px;
    height: 314px;
    margin-left: 20px;
}

.red-button {
    display: flex;
    justify-content: center;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {
    margin-top: 40px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#Page4 {
    width: 70vw;
    height: 336px;
    border-radius: 20px;
}

.card-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.card-content {
    width: 810px;
    height: 86px;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;

}

.red-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    color: #E63230;

}

.information-div {
    width: 508px;
}

.information {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 56px;
    color: #292929;
    margin: 0px;
}

.works {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 56px;
    color: rgba(41, 41, 41, 0.3);
    margin: 0px;
}

.brands {
    display: flex;
}

.order-content {
    order: 2;
}

.order-images {
    order: 2;
}

.parent {
    position: relative;
}

.image3 {
    position: absolute;
    z-index: 1;
    bottom: 250px;
    left: -150px;
}

.image4 {
    position: absolute;
}

.image5 {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 150px;
}

.heading-div {
    display: flex;
    justify-content: flex-start;
}

.heading-black {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
    color: #292929;

}

.info-div {
    width: 1174px;
    height: 88px;
}

.text-black {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #292929;
}

.page6-div {
    width: 1120px;
    height: 130px;

}

.page6-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #292929;
}

#card {
    width: 160px;
    height: 170px;
    background: #DEE8FF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-right: 25px;
}

#payment-card {
    width: 238px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 25px;
    ;
}

.blue-card-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.blue-card-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000000;
}

.card-row1 {
    display: flex;
}

.card-row2 {
    display: flex;
    justify-content: center;
}

.display {
    display: flex;
    justify-content: space-between;
}

.points {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #292929;

}

.sub-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #292929;
    width: 680px;

}

.blue {
    background: #DEE8FF;
    height: 888px;
}

.payments-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.payment-div1 {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 888px;

}

.white-card-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.payment-logos {
    margin-right: 25px;
}

.payments {
    width: 537px;
    height: 175px;
}

.payment-summary {
    height: 240px;
    width: 516px;

}

.sub-heading-div {
    width: 516px;
    height: 268px;
}

.page3-div {
    width: 657px;
    height: 330px;
    border: 1px solid #E63230;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px;
}

.page3-information {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #292929;
}

.page3-grey {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    color: rgba(41, 41, 41, 0.5);
}